<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=localhost;Port=3306;Database=MyApi;User=root;Password=123"/>
    <add name="SQLITE" connectionString="Data Source=D:\\sqlite\\sqlLiteDataBase\\MyApi.db"/>
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="MySql"/>
    <!--程序的模式:
    0:根据数据库表生成json文件,
    1:根据数据库表生成对应实体类
  默认放在项目文件跟目录下EntityClass-->
    <add key="ProgramMode" value="1"/>
    </appSettings>
</configuration>